#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.pokemoncard-container {
  position:relative
}

.pokeball {
  position: absolute;
  z-index: 1000;
  height: 2rem;
  width: 2rem;
  top: -0.5rem;
  filter: grayscale(100%);
}

.favorite {
  filter: grayscale(0%);
}

ion-fab-button {
  --background: #F5DCE0;
  --background-activated: #E4A0B7;
  --background-hover: #E4A0B7;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: #E18AAA;
}

ion-badge {
  --background: #E4A0B7;
  --color: white;
  --padding-end: 5px;
  --padding-start: 5px;
}
