<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Pokedex </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
  placeholder="Search..."
  [debounce]="300"
  (ionInput)="searchPokemon($event)"
  ></ion-searchbar>

  <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
  
  <div *ngIf="!loading && pokemonsShow.length">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let pokemon of pokemonsShow">
          <pokemon-card [pokemon]="pokemon" (click)="openModal(pokemon)"></pokemon-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <paginator
    [currentPage]="currentPage"
    [limit]="6"
    [total]="151"
    (changePage)="changePage($event)"
    ></paginator>
  </div>

  <modal
    [pokemonData]="pokemon"
    [isModalOpen]="isModalOpen"
    (isModalOpenChange)="isModalOpen=$event"
  ></modal>
  
  <missing-page *ngIf="!pokemonsShow.length && !loading" ></missing-page>

</ion-content>
