<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokedex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <swiper-container
  [pagination]="true"
  (slidechange)="swiperSlideChange($event)"
  >
    <swiper-slide>
      <ion-grid>
        <ion-row *ngIf="!loading">
          <ion-col *ngFor="let pokemon of pokemons">
            <pokemon-card [pokemon]="pokemon"></pokemon-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </swiper-slide>
    <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
  </swiper-container>

</ion-content>
